header
  div
    img(src='images/logo.png', alt='')
!=partial(toppanel)
div(role='main')
  #page
    #threads
      #t
      #c
      div(style='clear: both;')
    #groups
    div(style='clear: both;')