header
  div
    img(src='images/logo.png', alt='')
!=partial(toppanel)
div(role='main')
  #page
    #threads
      #menu
        a(href='#') home
        a(href='#') browse
        a(href='#') about
        a(href='#') contacts
      #t
      #c
      div(style='clear: both;')
    #groups
      h4 Active filters
      ul.groups-menu-active-filters
        li
          a(href='#')
            img(src='images/close.jpg', alt='Close', width='11')
            | Programming
        li
          a(href='#')
            img(src='images/close.jpg', alt='Close', width='11')
            | Pinned Only
        li
          a(href='#')
            img(src='images/close.jpg', alt='Close', width='11')
            | Coffee and Jade haters
      h4 Add filters
      ul.groups-menu-filters
        li
          img(src='images/expanded.gif', alt='Collapse', width='11', style='vertical-align: baseline;')
          | Newer than
          ul
            li
              a(href='#')
                input(type='checkbox', name='newer_than', value='last_week')
                | Last week
            li
              a(href='#')
                input(type='checkbox', name='newer_than', value='last_week')
                | Last month
            li
              a(href='#')
                input(type='checkbox', name='newer_than', value='last_week')
                | Last year
        li
          img(src='images/collapsed.gif', alt='Expand', width='11', style='vertical-align: baseline;')
          | Category
    div(style='clear: both;')
footer
  #sitemap
    ul.social
      li
        img(src='images/imperialogo.png', width='100%', style='margin-top: 2px;')
      li.cat(style='padding-top: 15px; text-align: left;') The Board © 2012
    ul.first
      li.cat The Board
      li
        a(href='#', alt='Home', title='Home') Home
      li
        a(href='#', alt='Group', title='TurningArt Plans & Pricing') Browse
      li
        a(href='#', alt='About', title='About') About
      li
        a(href='#', alt='Contacts', title='Contacts') Contacts
    ul.last
      li.cat Authors
      li
        a(href='#', alt='Feryal M.P. Behbahani', title='Feryal M.P. Behbahani') Feryal M.P. Behbahani
      li
        a(href='#', alt='Rumyana Neykova', title='Rumyana Neykova') Rumyana Neykova
      li
        a(href='#', alt='Petr Hosek', title='Petr Hosek') Petr Hosek
      li
        a(href='#', alt='Nicholas Ng', title='Nicholas Ng') Nicholas Ng
    ul.last(style='border: 0;')
      li.cat  
      li
        a(href='#', alt='Florian Rathgeber', title='Florian Rathgeber') Florian Rathgeber
      li
        a(href='#', alt='Deyan Ulevinov', title='Deyan Ulevinov') Deyan Ulevinov
      li
        a(href='#', alt='Jonathon Marks', title='Jonathon Marks') Jonathon Marks
      li
        a(href='#', alt='Bartosz Wozniak', title='Bartosz Wozniak') Bartosz Wozniak
