form(action='/register', method='POST')
  h1 Not a member yet? Sign Up!
  #login
    label.grey(for=everyauth.password.loginFormFieldName) Login
    input#signup.field(type='text', name=everyauth.password.loginFormFieldName, size='23')
  #email
    label.grey(for='email') Email
    input#email.field(type='text', name='email', size='23')
  #password
    label.grey(for=everyauth.password.passwordFormFieldName) Password
    input#pwd.field(type='password', name=everyauth.password.passwordFormFieldName, size='23')
  #first-name
    label.grey(for='name.first') First Name
    input#signup.field(type='text', name='name.first')
  #last-name
    label.grey(for='name.last') Last Name
    input#signup.field(type='text', name='name.last')
  #submit
    input.bt_register(type='submit', name='submit', value='Register')
